<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
    <h1>Create/Edit Client</h1>
    <form th:action="@{/web/clients/save}" th:object="${client}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
        </div>
        <div>
            <label for="cep">Address CEP:</label>
            <input type="text" id="cep" th:field="*{address.cep}" required />
        </div>
        <div>
            <button type="submit" class="button">Save</button>
        </div>
    </form>
    <a href="/web/clients" class="button">Back to Clients</a>
</div>
</body>
</html>
